<form [formGroup]="loginFg" class="space">
    <h4>Enter your email address and we'll send you a reset link:</h4>
    <mat-form-field>
      <input matInput placeholder="email" formControlName="email" type="email">
      <mat-error>Please provide a valid email address</mat-error>
    </mat-form-field>
    <button mat-raised-button (click)="reset()" [disabled]="done">Send Reset Link</button>
    <div *ngIf="done">Link sent. Return to <a [routerLink]="['/login']">log in</a> when you have followed the instructions in your email.</div>
  </form>
  